{% extends 'base.html.twig' %}

{% block title %}ArticlesList{% endblock title %}

{% block main %}

    <main>

        <section class="row flex-wrap justify-center" id="articles">

            {% for article in articles %}
                    <div class="card">
                        <a href="{{ path('article_show', {'id': article.id} ) }}">
                            {% if article.imageFileName %}
                                {# je récupère le nom du fichier uploadé
                                pour cet article que je concatène avec le dossier
                                dans lequel il a été uploadé #}
                                <div class="imgArticles">
                                    <img src="{{ asset('uploads/articles/' ~ article.imageFileName) }}" alt="Image" class="resp">
                                </div>
                            {% endif %}
                        </a>
                    {% if article.category is null %}
                        <p>Cette article n'est pas rangé dans une catégorie</p>
                    {% else %}
                        <a href="{{ path('article_show', {'id': article.id} ) }}">
                            <h1 style="background-color :{{ article.category.color }};">{{ article.title }}</h1>
                        </a>
                    </div>
                    {% endif %}

            {% endfor %}
        </section>

    </main>
{% endblock main %}