<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Site d'informations qui publie des articles sur l'actualité">
    <meta name="author" content="Baptiste Lucmaret">
    <meta name="keywords" content="gouvernement, CBD, humain, Covid-19">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <title>{% block title %}{% endblock title%}</title>

</head>

<body>

    <header>
        <nav class="row justify-around align-center w-100">
            <div class="logo">
                <a href="">
                    <img src="{{ asset('assets/img/Logo.png') }}" alt="Logo Le Monde" class="resp">
                </a>
            </div>
            <li><a href="{{ path('categories_list') }}">Catégories</a></li>
            <li><a href="{{ path('articles_list') }}">Articles</a></li>
            <li><a href="{{ path('admin_articles_list') }}">AdminArticles</a></li>
            <li><a href="{{ path('admin_categories_list') }}">AdminCategories</a></li>
        </nav>

        {# app est une variable globale définie dans twig. Elle est dispo dans tous les fichiers twig
            et contient des informations un peu générales : les messages flashs, les infos
            de l'utilisateur connecté (si y'en a un).#}
        {% for message in app.flashes('success') %}
            {# The Modal #}
            <div id="myModal" class="modal">

                {# Modal content #}
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Modal Header</h2>
                    </div>
                    <div class="modal-body">
                        <p>{{ message }}</p>
                    </div>
                    <div class="modal-footer">
                        <h3>Modal Footer</h3>
                    </div>
                </div>

            </div>
        {% endfor %}

    </header>

    {% block main %}{% endblock main %}


    <footer class="relative" id="backgroundFooter">

        <div class="logo absolute">
            <img src="{{ asset('assets/img/logo.png') }}" alt="Logo Le Monde" class="resp">
        </div>

    </footer>

        <script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>

    </body>
</html>
