{% extends 'base.html.twig' %}

{% block title %}ArticlesList{% endblock title %}

{% block main %}

<main>

    {# Bouton Add Article #}
    <a href="{{ path('admin_article_insert') }}">
        <button>Ajouter l'article</button>
    </a>

    <section class="row flex-wrap justify-center" id="articles">

        {% for article in articles %}

            <div class="card">
                <a href="{{ path('article_show', {'id': article.id} ) }}">
                    <div class="imgArticles"><img src="{{ article.image }}" alt="Image" class="resp"></div>
                    <h1>{{ article.title }}</h1>
                </a>

                <div class="row flex justify-around relative" id="cud">

                    {# Bouton Modify Article #}
                    <a href="{{ path('admin_article_update', {'id': article.id} ) }}">
                        <button>Modifier l'article</button>
                    </a>

                    {# Bouton Delete Article #}
                    <a href="{{ path('admin_article_delete', {'id': article.id} ) }}">
                        <button id="myBtn">Supprimer l'article</button>
                    </a>
                </div>

            </div>

        {% endfor %}
    </section>

</main>
{% endblock main %}