{% extends 'base.html.twig' %}

{% block title %}Article{% endblock title %}


{% block main %}

    <main class="form">

        {# J'utilise la fonction twig form pour afficher mon formulaire
        (avec en parametre la variable de formulaire twig #}

        <h1>Ajouter un article</h1>
        {# form(formView) => recupere le formulaire et l'affiche champs apres champs #}
        {{ form_start(formView) }}
        <div class="centrer">

            {# <h2>Votre titre</h2> #}
            <div></div>

            {{ form_label(formView.title) }}
            {# form_widget permet de récupérer uniquement le bloc input sans le nom #}
            {# le tous se récupère avec le form_row et le nom du bloc en form_label #}
            {{ form_widget(formView.title, {'attr': {'class': 'title'}}) }}
            <div class="errorStyle">{{ form_errors(formView.title) }}</div>

            {# <h2>Votre contenu</h2> #}
            <div></div>

            {{ form_label(formView.content, 'Content', {'label_attr': {'class': 'contentTitle'}}) }}
            {{ form_widget(formView.content, {'attr': {'class': 'content'}}) }}
            <div class="errorStyle">{{ form_errors(formView.content) }}</div>

            {# <h2>Votre image</h2> #}
            <div></div>

            {{ form_label(formView.image) }}
            {{ form_widget(formView.image, {'attr': {'class': 'image'}}) }}
            <div class="errorStyle">{{ form_errors(formView.image) }}</div>
            <div class="date">
                <div>

                    {# <h2>Votre date de publication</h2> #}
                    <div></div>

                    {{ form_label(formView.publicationDate) }}
                    {{ form_widget(formView.publicationDate, {'attr': {'class': 'publicationDate'}}) }}
                    <div class="errorStyle">{{ form_errors(formView.publicationDate) }}</div>
                </div>
                <div>

                    {# <h2>Votre date de création</h2> #}
                    <div></div>

                    {{ form_label(formView.creationDate) }}
                    {{ form_widget(formView.creationDate, {'attr': {'class': 'creationDate'}}) }}
                    <div class="errorStyle">{{ form_errors(formView.creationDate) }}</div>
                </div>
            </div>

            <div></div>
            {# <h2>Votre Catégorie</h2> #}
            {{ form_label(formView.category) }}
            {{ form_widget(formView.category, {'attr': {'class': 'articleCategoryTitle'}}) }}
            {{ form_errors(formView.category) }}

            {# <h2>est publié</h2> #}
            <div></div>

            {{ form_label(formView.isPublished) }}
            {{ form_widget(formView.isPublished, {'attr': {'class': 'isPublished'}}) }}
            <div class="errorStyle">{{ form_errors(formView.isPublished) }}</div>

        </div>
        {{ form_label(formView.Envoyer) }}
        {{ form_widget(formView.Envoyer, {'attr': {'class': 'Envoyer'}}) }}
        {{ form_end(formView) }}

    </main>

{% endblock main %}